{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="card-deck">

    {% for s in students %}

        <div class="card">

            <div class="card-body">

              <h5 class="card-title"> {{ s.id }}</h5>

              <p class="card-text">
                  {{ s.name }}
              </p>

              <p class="card-text">
                  {{ s.contact_no }}
              </p>

            </div>

          </div>

    {% endfor %}

    </div>

{% endblock content %}


