{% extends 'base.html' %}



{% block content %}

    <div class="card-deck">

    {% for c in clubs %}

        <div class="card">

            <img class="card-img-top" src="{{ c.logo.url }}" alt="Card image cap">

            <div class="card-body">

              <h5 class="card-title"> {{ c.id }} </h5>

              <p class="card-text">
                  {{ c.name }}
              </p>

                <p class="card-text">
                    {% if c.constitution is none %}

                    {% else %}

                        <a href="{{  c.constitution.url }}">View Constitution</a>  <br>

                    {% endif %}
              </p>


            </div>

          </div>


    {% endfor %}

    </div>

{% endblock content %}

